body{
    width:600px;
}

#container{
    opacity: 0.9;
}


.w_per_100{
    width: 100%;
    float: left;
    margin-top: 10px;
}


.hide{
    display: none;
}

.show{
    display: block;
}
.btn{
    padding:5px 10px;
    width:auto;
    height:25px;
    cursor: pointer;
    color: #ffffff;
    text-decoration: none;
    background:#0094ff;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius:5px;
    border: 0px solid #ffffff;
    outline: none;
}

#pick_user{
    margin-top: 5px;
    margin-bottom: 5px;
}

#course_list{
    float: left;
    padding: 5px;
    width: 95%;
}

#user_list{
    float: left;
    padding: 5px;
    width: 95%;
}

ul{
    margin: 0;
    padding: 0;
    border: 0;
    border-bottom:1px solid #5a84b3 ;
    float: left;
    width: 100%;
}

ul li{
    padding:4px 3px;
    float: left;
    display: inline;
    cursor: pointer;
    z-index: 99;
    text-decoration: none;
    margin-bottom: -1px;
}

.active{
    color: red;
    font-weight: bold;
    border:1px solid #5a84b3;
    z-index: 99;
    border-bottom:1px solid #ffffff ;
}

.unactive{
    color: #000000;
    border:1px solid #d3d3d3;
    border-bottom:1px solid #5a84b3 ;
}

#main{
    margin:0px;
    float: left;
    width: 98%;
    min-height: 50px;
    padding: 5px;
    z-index: 1;
    border: 1px solid #5a84b3;
    border-top: 0px;
}


#tip{
    margin-left:14px ;
    color: red;
}

.txt_input{
    padding: 5px;
    text-decoration: none;
    color: #000000;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius:5px;
    border: 1px solid #f0f0f0;
    outline: none;
}

input[type=file]{
    padding: 3px;
    line-height: 10px;
    font-size: 8px;
    width: 80%;
    margin-right: 10px;
}